@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<section id="down" class="content-section text-center">
    Somewhere in the hood<br />
    We up in here<br />
    <abbr title="Phone"></abbr>
    425.555.0100
</section>
