@{
    ViewData["Title"] = "Home Page";
}
<!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h1 class="brand-heading">Custom Cage Shop</h1>
              <p class="intro-text">You want a bad ass cage?! We got you!
                <br>Order that shit!</p>
              <a href="#down" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header> 
<section id="down" class="content-section text-center">
    we rock the party
</section>
