@{
    ViewData["Title"] = "Photo Gallery";
}
<h2>@ViewData["Title"]</h2>
<section id="down" class="content-section text-center">
    <img src="~/images/IMG_16561.jpg" class="image-rounded" alt="rocktheparty">
    <img src="~/images/IMG_17521.jpg" class="image-rounded" alt="rocktheparty1">
    <img src="~/images/IMG_17861.jpg" class="image-rounded" alt="rocktheparty2">
    <img src="~/images/IMG_17871.jpg" class="image-rounded" alt="rocktheparty">
    <img src="~/images/IMG_17881.jpg" class="image-rounded" alt="rocktheparty1">
    <img src="~/images/IMG_18811.jpg" class="image-rounded" alt="rocktheparty2">
    <img src="~/images/IMG_18821.jpg" class="image-rounded" alt="rocktheparty">
    <img src="~/images/IMG_18831.jpg" class="image-rounded" alt="rocktheparty1">
    <img src="~/images/IMG_18841.jpg" class="image-rounded" alt="rocktheparty2">
    <img src="~/images/IMG_18871.jpg" class="image-rounded" alt="rocktheparty">
    <img src="~/images/IMG_18891.jpg" class="image-rounded" alt="rocktheparty1">
    <img src="~/images/IMG_19021.jpg" class="image-rounded" alt="rocktheparty2">
</section>